.four-container{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-top: 30px;
}

#background{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    /* position: fixed; */
    z-index: -100;
    /* position: absolute;
    bottom: 0; */
}

.co-pres{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
}

.pres-photo{
    border: 2px white solid;
    height: auto;
    width:200px;
  height:200px;
  object-fit:cover;
  border-radius:50%;

}

.bigName{
    font-size: 22pt;
    line-height: 22pt;
    margin-top: 10px;
}

.nameRole{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* width: 200px; */
    /* margin-right: 45px; */
    /* justify-content: flex-start; */
    /* justify-content: left; */

}

.boardName{
    font-size: 20pt;
    line-height: 20pt;
    margin-bottom: 5px;
}

.boardMember{
    display: flex;
    flex-direction: row;
    /* width: 25%; */
    /* margin: auto; */
    color: white;
    width: 100%;
    /* justify-content: space-between; */

}

.otherboard{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 45px;
    padding-bottom: 1%;
}

.boardEmail{
    font-size: 16pt ;
    /* align-self: end; */
}
.leftPush{
    /* margin-right: 20px ; */
    /* text-indent: -300px; */
    /* font-size: 100pt; */
    margin-left: 15%;
    width: 30%;
    /* text-align: start; */
    /* width: 25%; */
}
.inner{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.rightPush{
    /* margin-right: 20px ; */
    /* text-indent: -300px; */
    /* font-size: 100pt; */
    margin-left: 55%;
    width: 30%;
    /* text-align: left; */
    /* width: 25%; */
}
.bigEmail{
    margin-bottom: 5px;
    font-size: 14pt;
    
}
.bigRole{
    /* font-size: 16pt; */
}


@media screen and (max-width: 1450px){
    .leftPush{
        margin: auto;
        width: 40%;

    }
    .rightPush{
        margin: auto;
        width: 40%;

    }
    /* .nameRole{
        margin-right:0 ;
    } */
    /* .boardMember{
        flex-direction: column;
        margin-bottom: 20px;
justify-content: center;
        width: 90%;
        text-align: center;
    } */
    .boardRole{
        margin-bottom: 0rem;
    }
    .boardMember{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1100px){
    .four-container{
        flex-direction: column;
    }
    .co-pres{
        margin-bottom: 25px;
    }
    .leftPush{
        margin-left: 5%;
        margin-right: 5%;
        width: auto;

    }
    .rightPush{
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
    }
    .nameRole{
        /* flex-direction: row; */
        margin-right:0 ;
    }
    .boardMember{
        flex-direction: column;
        margin-bottom: 20px;
justify-content: center;
        /* width: 100%; */
        text-align: center;
    }
    .boardRole{
        margin-bottom: 0rem;
    }
    .inner{
        justify-content: center;
    }
}