html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#background{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    /* position: fixed; */
    z-index: -100;
}
@font-face {
    font-family: 'kayak';
    src: url(Coves-Bold.otf) format("opentype");
}

.main-logo {
    font-family: kayak;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    right: 40px;
}

.meeting-box{
    margin-top: 2%;
}

.meeting {
    color: rgb(238, 226, 226);
    display:flex;
    justify-content: center;
    font-size: 40px;
}


.meeting-info{
    color:rgb(238, 226, 226);
    display:flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
}

.main-logo-2 {
    font-family: kayak;
    color: white;
    display: flex;
    justify-content: center;
    left: 40px;
}

h1{
    font-size: 7vw;
    font-style: italic;
}

a.button1{
    display:flex;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.4em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    justify-content: center;
    width: 13vw;
    margin: auto;
    margin-top: 3%;
    height: 8vh;
    font-size: 16pt;
    min-width: 250px;
    min-height: 50px;

    }
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
@media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }
}